.page-title {
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
}

  .panel{
        padding:7em 29em;
                  
    }
    .form{
        padding:2em;
        border-radius: 0.3em;
        border:1px solid rgb(43, 43, 59);
        background-color: rgb(60, 90, 95);
        text-align: center;
    }
    .panel>p{
        font-size: 1.4em;
    }
    
    label
{
    width: 100%;
    display: inline-block;  
    float:none;
    text-align:center; 
}
input{
    float:none;
}
h1{
    color:rgb(187, 76, 94);
    text-align: center;
    
}
label
    {
        width: 200px;
        display: inline-block;   
    }
   body{
     text-align: center;
     /*background-image: url(background.jpg);*/
     background-size: cover;
   }
   
  .shopping-cart{
      position: relative;
      padding-top: 40px;
      color: white;
  }

  .image-class{
    height: 300px;
    width: 320px;
  }

  button{
      font-size: 16px;
      
  }
  .product-price{
      font-size: 16px;
  }
  .grid-container {
    padding: 0 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 3rem 1rem;
  }
  .product-grid{
     display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 325px;
  border: 3px solid;
  float: left;
  padding-bottom: 5%px;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1); 
  }

  .cartBox{
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, 0.8);
      z-index: 99999;
      transition: 0.3s linear;
      transform: scale(0);
  }
  .cartBox.active{
      transform: scale(1);
  }
  .cartBox .cart{
      position: relative;
      height: 70%;
      width: 80%;
      background:white;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .cartBox .cart .fa-close{
      position: absolute;
      right: 0;
      top: 0;
      background: #f00;
      padding: 10px 15px;
      color: white;
      cursor: pointer;
  }
  .cartBox .cart .fa-close:hover{
      background: #ff0000a5;
  }
  .cartBox .cart h1{
      position: relative;
      margin-top: 2%;
      font-size: 2.8rem;
      color: #017bf5;
  }
  .cartBox .cart button{
    position: relative;
    margin-bottom: 2%;
    top: 80px;
    color: black;
    background-color: green;
}
.cartBox .cart button:hover{
    background-color: palegreen;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
 
 